body{
  margin: 20px;
  padding: auto;
  min-height: 100vh;
  background-color: #b0c4de;
  justify-content: center;
}

#title{
  font-family: 'Coming Soon', cursive;
}

#nomeItem{
  width: 180px;
  padding: 8px;
  font-family: Verdana, sans-serif;
  border: 2px solid whitesmoke;
  border-radius: 12px;
}

#addItem{
  margin-left: 16px;
  padding: 8px;
  border-radius: 24px;
  justify-content: center;
}

#addItem:hover{
  background-color: rgb(214, 213, 213);
  cursor: pointer;
}

#addItem:active{
  background-color: green;
}

#reset{
  margin-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 24px;
  justify-content: center;
}

#reset:hover{
  background-color: rgb(243, 62, 62);
  cursor: pointer;
}

#reset:active{
  background-color: red;
}

#result{
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.checkboxList{
  margin-top: 20px;
  width: 20px;
  height: 20px;
  accent-color: #4CAF50; /* cor do “check” */
  cursor: pointer;
}

#nomeItem{
  
}
